.main-content-grid-gestion-capteurs {
  display: grid;
  grid-template-columns: 3rem 45% 3rem 45% 3rem;
  grid-template-rows: 3rem repeat(6, 13.3vh) 3rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-content-grid-gestion-capteurs .liste-capteurs {
  grid-area: 2 / 2 / 8 / 2;
  padding: 0rem 1rem;
}

.main-content-grid-gestion-capteurs .liste-capteurs .list {
  background-color: var(--background-color);
  overflow: auto;
  max-height: 85%;
}

.main-content-grid-gestion-capteurs .liste-capteurs .list .table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--secondary-color);
}

.main-content-grid-gestion-capteurs .liste-capteurs .list .table th,
.main-content-grid-gestion-capteurs .liste-capteurs .list .table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
}

.main-content-grid-gestion-capteurs .liste-capteurs .list .table th {
  background-color: var(--third-color);
}

.main-content-grid-gestion-capteurs .liste-capteurs .list .table tr.active {
  background-color: var(--sixth-color);
  color: black;
}

.main-content-grid-gestion-capteurs .liste-capteurs .list .table tr:hover td {
  background-color: var(--sixth-color);
  color: black;
}

.main-content-grid-gestion-capteurs .zone-action-small {
  grid-area: 2 / 4 / 4 / 4;
  padding: 0rem 1rem;
}
.main-content-grid-gestion-capteurs .zone-action-medium {
  grid-area: 2 / 4 / 5 / 4;
  padding: 0rem 1rem;
}

.main-content-grid-gestion-capteurs .form {
  display: flex;
  flex-flow: row wrap; 
  align-items: stretch;
}

.main-content-grid-gestion-capteurs .form .form-text {
  margin: 5px 10px 5px 0;
}

  
.main-content-grid-gestion-capteurs .form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}










.overflow-table{
  max-height: 85vh;
  overflow: auto;
}
