
  .card{
  width: 100%;
  height: auto;
  border-radius: 17px;
  text-align: center; 
  color: black;
  }

  .card-offline{
    background-color: rgb(184, 183, 183);
  }










  
  
  .information-card > h5{
    margin-top: 1rem;
  }
  
  .information-card > h2{
    margin-top: 2rem;
  }
  

  
  
  .background-div-contaidner{
    background-color: var(--bacground-secondary);
    padding: 2rem 0;
    border-radius: 17px;
    border: 1px solid var(--border-color);
  }
  
  .background-div-container.legende{
    padding: 0.5rem 0;
  }
  
  .background-div-container.legende > h5{
   margin-left: 1.5rem;
  }
  
  .background-div-container.legende > p{
   margin-left: 1.5rem;
  }
  
  .background-div-container.legende > p::before{
    content: "";
    height: 1.5vmax;
    width: 2.5rem;
    border-radius: 7px;
    background-color: rgb(184, 183, 183);
    display: inline-block;
    margin-right: 1rem;
    transform: translateY(0.30vmax);
  }
  
  .background-div-container.legende > p.fourth-color::before{
  background-color: var(--fourth-color);
  }
  .background-div-container.legende > p.fifth-color::before{
    background-color: var(--fifth-color) ;
  }
  
.card-additional-information{
  background-color: var(--background-color);
  color: var(--secondary-color);
}
  
  
  
  
  
  
  
  
  
  
 