{% extends 'base.html.twig' %}

        {% block stylesheets %}  
            {{ encore_entry_link_tags('page-accueil') }}
         {% endblock %}


{% block body %}

<nav class="navbar navbar-dark navbar-expand-lg p-0 navbar-background" id="mainNav">
		
    <button class="navbar-toggler ml-auto py-3 mr-2" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item mx-2 active">
        <div class="px-4 py-2">
					<a class="nav-link " href="/">Accueil</a>
          </div>
				</li>

				<li class="nav-item mx-2">
        <div class="px-4 py-2">
					<a class="nav-link " href="/graphique">Graphique</a>
          </div>
				</li>

				<li class="nav-item mx-2 ">
          <div class="px-4 py-2">
					  <a class="nav-link " href="/gestionCapteurs">Gestion capteurs</a>
          </div>
				</li>

				<li class="nav-item mx-2">
        <div class="px-4 py-2">
					<a class="nav-link " href="">Admin</a>
          </div>
				</li>
        
			</ul>
		</div>
	</div>
</nav>

      {#<div class="titre-information-generales"> <h2 class="text-light">Informations générales</h2> </div>

      <div class="information-generales grid-infomration-global background-div-container">
        <div class="item-information-first">
            <div class="card card-offline">
                <h5 >PM 2,5 µm</h5>
                <h2>NULL</h2>
            </div>
        </div>  
        <div class="item-information-second">            
            <div class="card card-offline">
                <h5 >PM 10 µm</h5>
                <h2>NULL</h2>
            </div>
        </div>  
        <div class="item-information-third">           
            <div class="card card-offline">
                <h5 >Température</h5>
                <h2>NULL</h2>
            </div>
    </div>
        <div class="item-information-fourth">            
            <div class="card card-offline">
                <h5 >Humidité</h5>
                <h2>NULL</h2>
            </div>
    </div>  
      </div>

      <div class="titre-graphique "> 
        <h2 class="text-light">Statistique / graphique simple de Bayonne à 16h</h2> 
      </div>

      <div class="legende-graphique background-div-container legende">
          <h5 class="text-light">Légende</h5>
          <p class="fourth-color">PM 2.5 µm</p>
          <p class="fifth-color">PM 10 µm</p>
      </div>
      
      <div class="graphique-principal background-div-container">
        <h5 class="text-light">Concentration des particules en µg/m³</h5>
        
      </div>

      <div class="graphique-secondaire background-div-container">
        <h5 class="text-light">Répartition des particules en %</h5>
      </div>

    </div>
#}

{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('page-accueil') }}
{% endblock %}