{% extends 'base.html.twig' %}

        {% block stylesheets %}  
            {{ encore_entry_link_tags('page-accueil') }}
         {% endblock %}


{% block body %}

<div class="main-grid-Accueil ">
      <div class="nav-accueil nav-secondary-background navbar">
        <!-- navbar-grid -->

        <!--<div class="btn nav-item-first">
                Accueil
            
            </div>
            <div class="nav-item-second">
                graphique
            </div>
            <div class="nav-item-third">
                connexion
            </div>
            -->

        <!--<ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
              </ul>-->

        <div class="navitem-accueil">
          <a href="">
               <button class="btn">
              <h4>Accueil</h4>
             </button>
        </a>
        </div>
        <div class="navitem-graphique">
          <a href="">
            <button class="btn">
                <h4>Graphique</h4>
            </button>
          </a>
        </div>
        <div class="navitem-connect">
          <a href="">
            <button class="btn">
                <h4>Connexion</h4>
            </button>
          </a href="">
        </div>
      </div>

      

{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('page-accueil') }}
{% endblock %}