{% extends 'base.html.twig' %}

        {% block stylesheets %}  
            {{ encore_entry_link_tags('page-accueil') }}
         {% endblock %}


{% block body %}

<nav class="navbar navbar-dark navbar-expand-lg p-0 navbar-background" id="mainNav">
		
    <button class="navbar-toggler ml-auto py-3 mr-2" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item mx-2 ">
        <div class="px-4 py-2">
					<a class="nav-link " href="/">Accueil</a>
          </div>
				</li>

				<li class="nav-item mx-2 active">
        <div class="px-4 py-2">
					<a class="nav-link " href="/graphique">Graphique</a>
          </div>
				</li>

				<li class="nav-item mx-2 ">
          <div class="px-4 py-2">
					  <a class="nav-link " href="gestionCapteurs">Gestion capteurs</a>
          </div>
				</li>

				<li class="nav-item mx-2">
        <div class="px-4 py-2">
					<a class="nav-link " href="">Admin</a>
          </div>
				</li>
        
			</ul>
		</div>
	</div>
</nav>

      

{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('page-accueil') }}
{% endblock %}